<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EqAT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="THTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AccelerationTimeHistoryGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EqAT.Properties.Settings>
            <setting name="DT" serializeAs="String">
                <value>0.0100</value>
            </setting>
            <setting name="LP" serializeAs="String">
                <value>15.0</value>
            </setting>
            <setting name="HP" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Shake91" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyTHFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ATHBase" serializeAs="String">
                <value />
            </setting>
            <setting name="ATHSurface" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ATHLineCount" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="CreateLoadMultFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreZeroBaseAccel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YieldAccel" serializeAs="String">
                <value>0.0500</value>
            </setting>
            <setting name="RPShake91" serializeAs="String">
                <value />
            </setting>
            <setting name="Shake91ATHFile" serializeAs="String">
                <value />
            </setting>
            <setting name="RPXaxisMaxScale" serializeAs="String">
                <value>3.2</value>
            </setting>
            <setting name="Limit4000Readings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewmarkImplicitIntegration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewmarkAlpha" serializeAs="String">
                <value>0.3025</value>
            </setting>
            <setting name="NewmarkBeta" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="MaxATHRecords" serializeAs="String">
                <value>3800</value>
            </setting>
        </EqAT.Properties.Settings>
        <THTool.Properties.Settings>
            <setting name="DT" serializeAs="String">
                <value>0.0100</value>
            </setting>
            <setting name="LP" serializeAs="String">
                <value>15.0</value>
            </setting>
            <setting name="HP" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Shake91" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyTHFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ATHBase" serializeAs="String">
                <value />
            </setting>
            <setting name="ATHSurface" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ATHLineCount" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="CalcDisp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreZeroBaseAccel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YieldAccel" serializeAs="String">
                <value>0.0500</value>
            </setting>
            <setting name="RPShake91" serializeAs="String">
                <value />
            </setting>
            <setting name="Shake91ATHFile" serializeAs="String">
                <value />
            </setting>
            <setting name="RPXaxisMaxScale" serializeAs="String">
                <value>3.2</value>
            </setting>
            <setting name="Limit4000Readings" serializeAs="String">
                <value>True</value>
            </setting>
        </THTool.Properties.Settings>
        <AccelerationTimeHistoryGen.Properties.Settings>
            <setting name="DT" serializeAs="String">
                <value>.0100</value>
            </setting>
            <setting name="LP" serializeAs="String">
                <value>15.0</value>
            </setting>
            <setting name="HP" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Shake91" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyTHFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ATHBase" serializeAs="String">
                <value />
            </setting>
            <setting name="ATHSurface" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ATHLineCount" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="CalcDisp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreZeroBaseAccel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YieldAccel" serializeAs="String">
                <value>0.0500</value>
            </setting>
        </AccelerationTimeHistoryGen.Properties.Settings>
    </userSettings>
</configuration>